<!--Main-->

  <section id="main">
      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/NbzAuEN.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/hK2o74B.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/SnoEvjR.jpg" alt="Third slide">
          </div>
          <div class="overlay">
            <div class="container">
              <div class="row aling-items-center">
                <div class="col-md-4 offset- text-center">
                  <h1>GARAGE</h1>
                </div>
              </div>
              <div class="row aling-items-center">
                  <div class="col-md-4 offset- text-md-left text-center">
                    <P class="d-none d-md-block">
                      <h5>Mecánica Automotriz.</h5>
                      <h5>Encuentranos en Av. La Lorena y Otavalos</h5>
                    </P>
                    <a href="#place-time " class="btn btn-outline-light">Quiero conocer más</a>
                    <button type="button" class="btn btn-Platzi" data-toggle="modal" data-target="#modalCompra">Contactanos</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </section>

<!--/Main-->

<!--Speakers-->
    <section id="speakers" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col text-center text-upercase">
            <small>Conoce al equipo de</small>
            <h2>Garage</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/5xzJRJj.png" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Braulio Riofrio CEO</h5>
                <p class="card-text">Hola, gracias por visitarnos. Yo soy el encargado de
                   GARAGE, estoy siempre dispuesto a darte una solucion acorde a
                   tus necesidadaes y exprectativas
                </p>
                <a class="btn btn-primary" href="">Conoce más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/h99mToF.jpg" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Grom Hellscream </h5>
                <p class="card-text">Mucho gusto, Bienvenido. Yo soy el encargado de
                  del desarrollo y diseño web y edisión en Sky is the Limit, espero poderte ayudar
                  a crear la mejor opción para tu presencia online.
                </p>
                <a class="btn btn-primary" href="https://www.facebook.com/ricardo.tierra.9">Conoce más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Speakers-->   

<!--Servicios-->
    <section id="place-time" class="mt-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block">
            <img src="https://i.imgur.com/PgucXWN.jpg" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4">
            <h3 class="text-center">GARAGE - MECANICA</h3>
            <h3 class="text-center">Mecanica de vehiculos a gasolina y diesel</h3>
            <h6 class="d-none d-md-block">texto-1</h6>
            <h6 class="d-none d-md-block">......</h6>
            <h6 class="d-none d-md-block">......</h6>
            <a class="btn btn-outline-light offset-5" href="">Conoce más</a>
          </div>
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block mt-4">
            <img src="https://i.imgur.com/PgucXWN.jpg" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4">
            <h3 class="text-center">GARAGE - LUBRICADORA</h3>
            <h3 class="text-center">Lavadora de carros y cambios de aceites</h3>
            <h6 class="d-none d-md-block">texto-1</h6>
            <h6 class="d-none d-md-block">......</h6>
            <h6 class="d-none d-md-block">......</h6>
            <a class="btn btn-outline-light offset-5" href="">Conoce más</a>
          </div>
        </div>
      </div>
    </section>

<!--/Servicios-->


<!--/Footer-->

